body {
    background-color: #363636;
    color: #ffffff;
    font-family: "Questrial", serif;
    overflow-x: hidden;
}

.navbar {
    background-color: #000000;
    color: #ffffff;
}

.navbar .nav-link {
    color: #ffffff !important;
}

.navbar .navbar-brand {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #b5d60d !important;
}

.name {
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    font-family: "Archivo black", sans-serif;
}

.designation {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    font-family: "Pacifico", sans-serif;
}

.location {
    font-size: 25px;
    text-align: center;
    font-weight: lighter;

}

.face {
    width: 40%;
    height: auto;
    border-radius: 50%;
    background-color: #000000;
}

.btn-primary {
    background-color: #000000;
}
.card {
    background-color: #000000 !important;
}
.brand-icons-container {
    display: flex;
    overflow: hidden; /* Hide icons that are out of view */
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

  /* Apply the animation */
  .brand-icons {
    display: flex;
    animation: moveIcons 10s linear infinite;
    color: #000000;
  }
/* Individual icons with spacing */
.brand-icon {
    font-size: 100px;  /* Size of the icons */
    margin: 0 25px;   /* Spacing between icons */
    transition: transform 0.3s;
  }

  /* Hover effect for the icons */
  .brand-icon:hover {
    transform: scale(1.2);
  }
    /* Keyframes to animate the icons moving */
    @keyframes moveIcons {
        0% {
          transform: translateX(0); /* Start at the beginning */
        }
        100% {
          transform: translateX(-100%); /* Move to the left */
        }
      }
  
